@font-face {
    font-family: 'DynaPuff';
    src: url("../fonts/DynaPuff-Regular.ttf");
}

@font-face {
    font-family: 'Aileron';
    src: url("../fonts/Aileron-Regular.otf");
}

@font-face {
    font-family: 'BreeSerif';
    src: url("../fonts/BreeSerif_Reg.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    color: antiquewhite;
    font-family: 'Aileron';
    font-size: 16px;
}

@keyframes moveIn {
    0% {
        transform: translate(100vw, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes moveOut {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-200vw, -50%);
    }
}

#newUserFrame,
#loginFrame,
#newForumFrame,
#newReviewFrame {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    z-index: 500;
    background-color: #191919;
    border-radius: 10px;
    border: 4px solid #3f3f3f;
    padding: 1rem;
    transform: translate(-50%, -50%);
    /* animation: moveIn 0.5s forwards; */
    -webkit-box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);

    h2 {
        margin-bottom: 1rem;
    }
}

.inline {
    display: flex;
    row-gap: 1rem;
}

.spacer {
    width: 100vw;
    height: 2.5rem;
    background-color: black;
}

h1 {
    font-family: 'Aileron';
    font-size: 1rem;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2rem;
}

h2 {
    font-family: 'Aileron';
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2rem;
}

img {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 2.5rem;
    background-color: black;
    z-index: 1000;
    overflow: hidden;
    -webkit-box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 10px 25px -2px rgba(0, 0, 0, 0.75);
    display: flex;
}

header a {
    padding: 0;
}

.innerheader {
    display: flex;
    margin: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

footer {
    background-color: black;
    width: 100vw;
    margin-top: 2rem;
    padding: 2rem 0;
}

footer p {
    font-size: 0.8rem;
    font-weight: 300;
}

.innerfooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.5rem;
}

.mentionslegales {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mentionitem {
    width: 15rem;
    margin-right: 1rem;
}

.footerlogo {
    width: 25vw;
    max-width: 150px;
    height: auto;
    margin-right: 1rem;
}

.footertab {
    margin-left: 1.5rem;
}

.anchor-section {
    padding-top: 2.5rem;
    /* Adjust based on your header height + some extra space */
    margin-top: -2.5rem;
    /* Same value as padding-top */
}

a {
    font-family: "Aileron";
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f3c94b;
    font-weight: 700;
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#hamburgericon {
    height: 2rem;
    width: auto
}

#hamburgericon:hover {
    cursor: pointer;
}

/* Hamburger menu */

.hamburgermenu {
    display: flex;
}

#hambmenu {
    display: none;
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 100vw;
    height: 1.5rem;
    background-color: black;
    z-index: 1000;
    overflow: hidden;
}

#hambmenu a {
    margin: 0;
    margin: 0 1rem;
    font-size: 0.7rem;
}

#hambmenu a:hover {
    color: #f3c94b;
}

/* End of Hamburger menu */

/* Standard Menu */

.menu {
    display: none;
}

.menu a {
    margin: 0;
    margin-right: 1rem;
    font-size: 1rem;
}

.menu a:hover {
    color: #f3c94b;
}

/* End of Standard Menu */

/* Animated tiles in viewport */

.animated-card {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animated-card.in-view {
    opacity: 1;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

/* End of Animated tiles in viewport */

.socialheader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.socialfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.mainpicture {
    position: relative;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
}

.maintitle {
    position: absolute;
    bottom: 0.2rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smalltitle {
    color: antiquewhite;
    font-family: 'Aileron';
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0;
}

#mainlogo {
    width: 30%;
    max-width: 150px;
    height: auto;
}

.title {
    font-family: 'DynaPuff';
    color: white;
    font-size: 1rem;
}

.golded {
    color: #f3c94b;
}

p {
    font-family: 'BreeSerif';
    font-size: 1rem;
    padding: 0.5rem 0;
}

p::first-letter {
    font-weight: 800;
    font-size: larger;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    margin: 1rem auto;
    gap: 1rem;
}

.tuile {
    background-color: #2f2f2f;
    border-radius: 15px;
    width: 250px;
    height: 400px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tuile hr {
    border: 1px solid #f3c94b;
    margin: 0.5rem 0;
}

.tuile:hover {
    box-shadow: 0 0 10px #3edad8;
    transition: box-shadow 0.3s ease-in-out;
}

.color1 {
    background-color: #3edad8;
}

.color2 {
    background-color: #2C92D5;
}

.color3 {
    background-color: #496CBE;
}

.colordarkgray {
    background-color: #191919;
}

.colorgray {
    background-color: #2f2f2f;
}

.colorlightgray {
    background-color: #3f3f3f;
}

.colorgolded {
    background-color: #f3c94b;
}

.boxedtitle {
    border-radius: 15px;
    padding: 0.4rem 0;
    text-align: center;
}

.groupbutton {
    display: flex;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}

.boxedbutton {
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin: 0.5rem auto;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
}

.boxedbutton:hover {
    color: #f3c94b;
    cursor: pointer;
}

.roundedbox {
    border-radius: 15px;
}

.innerbox {
    margin: 0.5rem;
    padding-top: 0.5rem;
}

.innerboxabout {
    margin: 0.5rem;
}

.center {
    text-align: center;
    font-weight: 600;
    padding: 0;
}

.about {
    text-align: justify;
    width: 100%;
}

.dualcolons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;
}

.dualcolons>div {
    width: 100%;
}

.element {
    width: 95vw;
    margin: 0 auto;
}

/* Realisations section */

#realisations {
    margin: 1rem 0;
}

.miniaturesTitle {
    font-family: 'Aileron';
    font-size: 1.4rem;
}

.miniatures {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    gap: 1rem;
}

.miniatures img {
    height: 100px;
    width: auto;
}

.miniatures img:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* End of Realisations section */

.logofacebook,
.logoyoutube {
    height: 1.5rem;
    width: auto;
    margin: 0.3rem;
}

.logofacebook:hover,
.logoyoutube:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.article {
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;

    .horodatage {
        font-family: 'BreeSerif';
        font-size: 1rem;
        font-weight: 600;
        color: #f3c94b;
    }

    .question {
        padding-left: 1rem;
        font-family: 'BreeSerif';
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }

    .response {
        padding-left: 2rem;
        font-family: 'BreeSerif';
        font-size: 1rem;
        font-weight: 300;
        color: #9f9f9f;
    }

    hr {
        margin: 0.5rem 0;
    }
}

.image {
    border-radius: 15px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    width: 100%;
    font-size: 1rem;
    font-family: 'Aileron';
}

form input {
    width: 100%;
    font-family: 'Aileron';
    font-size: 1rem;
    background-color: #3f3f3f;
    color: white;
    border: none;
    padding: 0.4rem;
    margin: 0.4rem 0;
}

form input[type='submit'],
form input[type='reset'] {
    color: white;
    border: none;
    margin: 0.8rem 10%;
    padding: 0.4rem;
    width: 80%;
}

form textarea {
    font-family: 'Aileron';
    font-size: 1rem;
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    border: none;
    resize: none;
    padding: 0.4rem;
    margin: 0.4rem 0;
}

.checkframe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form input[type='checkbox'] {
    background-color: #3f3f3f;
    width: auto;
    margin-right: 10px;
}

form label {
    color: white;
    font-family: 'Aileron';
    font-size: 1rem;
}

form .checkframe label {
    font-size: 0.8rem;
}

.errormessage {
    color: coral;
    font-family: 'Aileron';
    font-size: 1rem;
}

.successmessage {
    color: lightgreen;
    font-family: 'Aileron';
    font-size: 1rem;
}

/* For large phones */
@media screen and (min-width:576px) {
    .holder {
        width: 100%;
    }

    #newUserFrame,
    #loginFrame,
    #newForumFrame,
    #newReviewFrame {
        width: 500px;
    }
}

/* For tablets */
@media screen and (min-width:768px) {

    .logofacebook,
    .logoyoutube {
        height: 1.8rem;
    }

    .title {
        font-size: 1rem;
    }

    .menu a {
        font-size: 0.8rem;
    }

    .element {
        width: 90vw;
        margin: 0 auto;
    }

    .maintitle {
        bottom: 7rem;
    }

    .dualcolons {
        flex-wrap: nowrap;
    }

    .dualcolons>div {
        width: 48%;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .smalltitle {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.2rem;
    }

    .hamburgermenu {
        display: none;
    }

    .menu {
        display: flex;
    }

    header {
        height: 3rem;        
    }

    .spacer {
        height: 3rem;
    }

    .anchor-section {
        padding-top: 3rem;
        margin-top: -3rem;
    }
}

/* For desktops */
@media screen and (min-width:1280px) {
    body {
        font-size: 18px;
    }

    .element {
        width: 1200px;
        margin: 0 auto;
    }

    .maintitle {
        bottom: 15rem;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    #mainlogo {
        right: 5rem;
        bottom: 10rem;
    }

    .tuile {
        width: 350px;
    }
}